@if (legalProvisions.length === 0) {
    <div class="alert alert-info">Δεν υπάρχουν προς το παρόν διατάξεις πρόβλεψης</div>
} @else {
    <table class="table table-bordered small">
        <thead>
            <tr>
                <th>#</th>
                <th>Νομική Πράξη</th>
                <th class="text-center">Μέρος</th>
                <th class="text-center">Άρθρο</th>
                <th class="text-center">Παράγραφος</th>
                <th class="text-center">Εδάφιο</th>
                <th class="text-center">Παράρτημα</th>
                <th class="text-center">Κείμενο</th>
                <!-- <th></th> -->
            </tr>
        </thead>
        <tbody>
            @for (legalProvision of legalProvisions; let i = $index; track i) {
                <tr>
                    <td class="text-center align-content-center">
                        {{ i + 1 }}
                    </td>
                    <td class="align-content-center">
                        {{ legalProvision.legalActKey }}
                    </td>
                    <td class="text-center">{{ legalProvision.legalProvisionSpecs.meros }}</td>
                    <td class="text-center">{{ legalProvision.legalProvisionSpecs.arthro }}</td>
                    <td class="text-center">{{ legalProvision.legalProvisionSpecs.paragrafos }}</td>
                    <td class="text-center">{{ legalProvision.legalProvisionSpecs.edafio }}</td>
                    <td class="text-center">{{ legalProvision.legalProvisionSpecs.pararthma }}</td>
                    <td class="text-center">
                        <mat-icon
                            role="button"
                            (click)="displayLegalProvision(legalProvision)">
                            wysiwyg
                        </mat-icon>
                    </td>
                    <!-- <td class="text-center">
                        <mat-icon
                            role="button"
                            (click)="removeLegalProvision(i)">
                            delete
                        </mat-icon>
                    </td> -->
                </tr>
            }
        </tbody>
    </table>
}
