<div class="d-flex justify-content-between m-3">
    <span class="h5">Επεξεργασία Φορέα</span>
    <button
        type="button"
        class="btn-close"
        (click)="dismiss()"></button>
</div>
<div class="modal-body">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <span class="fw-semibold">{{ organization?.preferredLabel }}</span>
            <span class="text-muted small">Κωδικός απογραφής: {{ organization?.code }}</span>
        </div>
        <div class="card-body">
            <div class="mb-3">
                <label
                    for="level"
                    class="form-label">
                    Επίπεδο Φορέα
                </label>
                <select
                    class="form-select"
                    id="level"
                    [(ngModel)]="level">
                    @for (level of organizationLevels; track level) {
                        <option
                            [value]="level"
                            [selected]="level === foreas?.level">
                            {{ level }}
                        </option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <button
                    type="button"
                    class="btn btn-primary mb-3"
                    (click)="newLegalProvision()">
                    Προσθήκη Διάταξης
                </button>
                @if (!legalProvisions.length) {
                    <p class="text-info">Δεν υπάρχει προς το παρόν κάποια διάταξη</p>
                } @else {
                    <div class="mb-3 d-flex flex-column">
                        <label class="form-label">
                            @if (legalProvisions.length === 1) {
                                Διάταξη
                            } @else {
                                Διατάξεις
                            }
                            Πρόβλεψης:
                        </label>
                        <app-list-legal-provisions
                            [code]="organization?.code"
                            [provisionType]="'organization'"
                            [actionColumnVisible]="true"
                            [legalProvisions]="legalProvisions"></app-list-legal-provisions>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-end m-3">
    <button
        ngbAutofocus
        type="button"
        class="btn btn-primary"
        (click)="onSubmit()"
        [disabled]="!hasChanges()">
        Υποβολή
    </button>
</div>
