<ng-template #successTpl>
    Το επίπεδο του φορέα ενημερώθηκε σε <strong>{{ level }}</strong>
</ng-template>

<div class="d-flex justify-content-between m-3">
    <span class="h5">Επεξεργασία Φορέα</span>
    <button
        type="button"
        class="btn-close"
        (click)="modalRef.dismiss()"
    ></button>
</div>
<div class="modal-body">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <span class="fw-semibold">{{ organization?.preferredLabel }}</span>
            <span class="text-muted small">
                Κωδικός απογραφής: {{ organization?.code }}</span
            >
        </div>
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="level"> Επίπεδο Φορέα </label>
                    <select
                        class="form-select"
                        id="level"
                        formControlName="level"
                    >
                        <option
                            *ngFor="let level of organizationLevels"
                            [value]="level"
                            [selected]="level === foreas?.level"
                        >
                            {{ level }}
                        </option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="d-flex justify-content-end m-3">
    <button
        ngbAutofocus
        type="button"
        class="btn btn-primary"
        (click)="onSubmit()"
    >
        Υποβολή
    </button>
</div>
