<div class="govgr-bottom">
    <footer class="govgr-footer" role="contentinfo">
        <div class="govgr-width-container">
            <div class="govgr-footer__meta">
                <div
                    class="govgr-footer__meta-item govgr-footer__meta-item--grow"
                >
                    <div class="govgr-footer__content">
                        <p
                            class="govgr-footer__licence-description d-flex flex-column"
                        >
                            <span
                                >Υλοποίηση από το
                                <a
                                    href="http://dtclab.civil.ntua.gr"
                                    target="_blank"
                                    rel="noreferrer noopener"
                                    class="govgr-link text-truncate"
                                    >Εργαστήριο Ψηφιακής Τεχνολογίας για Τεχνικά
                                    Έργα</a
                                ></span
                            >
                            <span>για το Υπουργείο Εσωτερικών</span>
                        </p>
                    </div>
                </div>
                <div class="govgr-footer__meta-item">
                    <img
                        class="govgr-footer__government-logo"
                        src="/assets/img/goverment.svg"
                        alt="government logo"
                    />
                </div>
            </div>
        </div>
    </footer>
</div>
