<h1 class="govgr-heading-sm">Αρμοδιότητες Μονάδων του Ελληνικού Δημοσίου</h1>

<table class="table table-striped">
    <tbody>
        @for (remit of remits; track remit) {
            <tr>
                <td>
                    <div class="d-flex flex-column gap-2">
                        <span>{{ remit.regulatedObject.organizationalUnit }}</span>
                        <span>{{ remit.remitType }}</span>
                        <div
                            role="button"
                            [ngClass]="{ 'text-truncate': !remit.showFullText }"
                            style="max-width: 500px"
                            (click)="remit.showFullText = !remit.showFullText">
                            {{ remit.remitText }}
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
