<!-- <div class="d-flex gap-2 align-items-center">
    @if (!imgSrcError) {
        <img
            class="d-none d-sm-inline"
            [src]="user().photoUrl"
            alt="user photo"
            (error)="imgSrcError = true" />
    } @else {
        <mat-icon>user</mat-icon>
    }
    <div class="d-flex flex-column">
        <span class="fw-bold text-truncate">{{ user().name }}</span>
        <a
            class="text-sm"
            (click)="logout()">
            Έξοδος
        </a>
    </div> -->
<ul class="navbar-nav small">
    <li
        ngbDropdown
        class="nav-item">
        <a
            id="userContextMenu"
            ngbDropdownToggle>
            @if (!imgSrcError) {
                <img
                    class="d-none d-sm-inline rounded-circle me-2"
                    [src]="user().photoUrl"
                    alt="user photo"
                    (error)="imgSrcError = true" />
            } @else {
                <mat-icon>user</mat-icon>
            }
        </a>
        <div
            ngbDropdownMenu
            class="dropdown-menu"
            aria-labelledby="userContextMenu">
            <a
                ngbDropdownItem
                [disabled]="true">
                <div class="d-flex align-items-center gap-3">
                    <mat-icon class="fw-lighter">person</mat-icon>
                    {{ user().name }}
                </div>
            </a>
            <a ngbDropdownItem>
                <div class="d-flex align-items-center gap-3">
                    <mat-icon class="fw-lighter">apartment</mat-icon>
                    Οι φορείς μου
                </div>
            </a>
            <a ngbDropdownItem>
                <div class="d-flex align-items-center gap-3">
                    <mat-icon class="fw-lighter">domain</mat-icon>
                    Οι μονάδες μου
                </div>
            </a>
            <a ngbDropdownItem>
                <div class="d-flex align-items-center gap-3">
                    <mat-icon class="fw-lighter">gavel</mat-icon>
                    Οι νομικές μου πράξεις
                </div>
            </a>
            <a
                ngbDropdownItem
                (click)="logout()">
                <div class="d-flex align-items-center gap-3 text-danger">
                    <mat-icon class="fw-lighter">logout</mat-icon>
                    <span>Έξοδος</span>
                </div>
            </a>
        </div>
    </li>
</ul>
<!-- </div> -->
