<header class="govgr-header">
  <div class="govgr-header__container">
    <div class="govgr-header__content">
      <img
        class="govgr-header__logo"
        src="https://www.gov.gr/gov_gr_logo.svg"
        alt="gov.gr logo"
      />
      <div class="govgr-header__title">Όνομα Υπηρεσίας</div>
    </div>
  </div>
</header>
<div class="govgr-width-container">
  <div class="govgr-main-wrapper">
    <div class="govgr-grid-column-two-thirds">
      <h1 class="govgr-heading-xl">This is Heading 1</h1>
      <p class="govgr-body">
        Ο παρών οδηγός δημιουργήθηκε για να καλύψει τις συνεχώς αυξανόμενες
        ανάγκες της δημόσιας διοίκησης για τη δημιουργία ενιαίων και φιλικών
        ψηφιακών εμπειριών χρήσης, με γνώμονα πάντα την εξυπηρέτηση των πολιτών.
      </p>
    </div>
  </div>
  <h1 class="govgr-heading-xl">Heading xl</h1>
  <h2 class="govgr-heading-lg">Heading l</h2>
  <h3 class="govgr-heading-md">Heading m</h3>
  <h4 class="govgr-heading-sm">Heading s</h4>
  <button class="govgr-btn govgr-btn-primary govgr-btn-cta">
    Call to action button
    <svg
      viewBox="0 0 24 24"
      class="govgr-svg-icon--arrow--right"
      focusable="false"
      aria-hidden="true"
    >
      <path d="M8.5,2L6.1,4.3l7.6,7.7l-7.6,7.6L8.5,22l10-10L8.5,2z" />
    </svg>
  </button>
  <button class="govgr-btn govgr-btn-primary">Primary button</button>
  <button class="govgr-btn govgr-btn-secondary">Secondary button</button>
  <button class="govgr-btn govgr-btn-warning">Warning button</button>
</div>
<footer class="govgr-footer" role="contentinfo">
  <div class="govgr-width-container">
    <div class="govgr-footer__meta">
      <div class="govgr-footer__meta-item govgr-footer__meta-item--grow">
        <div class="govgr-footer__content">
          <p class="govgr-footer__licence-description">
            Υλοποίηση από το
            <a
              href="https://grnet.gr"
              target="_blank"
              rel="noreferrer noopener"
              class="govgr-link"
              >ΕΔΥΤΕ<span class="govgr-visually-hidden"
                >(ανοίγει σε καινούρια καρτέλα)</span
              ></a
            >
            για το
            <a
              href="https://mindigital.gr/"
              target="_blank"
              rel="noreferrer noopener"
              class="govgr-link"
            >
              Υπουργείο Ψηφιακής Διακυβέρνησης
              <span class="govgr-visually-hidden"
                >(ανοίγει σε καινούρια καρτέλα)</span
              ></a
            >
          </p>
        </div>
      </div>
      <div class="govgr-footer__meta-item">
        <img
          class="govgr-footer__government-logo"
          src="static/img/government-logo2.svg"
          alt="government logo"
        />
      </div>
    </div>
  </div>
</footer>
