<div class="d-flex justify-content-between m-3">
    <span class="h5">Συμφωνείτε με την ενέργεια;</span>
    <button
        type="button"
        class="btn-close"
        (click)="modalRef.dismiss()"></button>
</div>
<div class="modal-body">
    {{ prompt }}
    <div class="d-flex justify-content-end gap-3">
        <button
            (click)="onClick(false)"
            class="btn btn-danger">
            Όχι
        </button>
        <button
            (click)="onClick(true)"
            class="btn btn-primary">
            Ναι
        </button>
    </div>
</div>
