<div class="d-flex justify-content-between m-3">
    <span class="h5">Εισαγωγή Νέας Διάταξης</span>
    <button type="button" class="btn-close" (click)="modalRef.dismiss()"></button>
</div>

<div class="modal-body">
    <div class="card">
        <div class="card-header d-flex flex-column justify-content-between">
            <table class="small">
                <tr>
                    <td class="fw-semibold">Φορέας:</td>
                    <td>({{ organization.code }}) {{ organization.preferredLabel }}</td>
                    <td class="fw-semibold">Μονάδα:</td>
                    <td>({{ organizationUnit.code }}) {{ organizationUnit.preferredLabel }}</td>
                </tr>
                <tr>
                    <td class="fw-semibold">Τύπος Αρμοδιότητας:</td>
                    <td>{{ remit.remitType }}</td>
                    <td class="fw-semibold">Λειτουργική Περιοχή COFOG:</td>
                    <td>{{ cofog1 }}</td>
                </tr>
                <tr>
                    <td class="fw-semibold">Λειτουργικός Τομέας COFOG:</td>
                    <td>{{ cofog2 }}</td>
                    <td class="fw-semibold">Θεματική Περιοχή COFOG:</td>
                    <td>{{ cofog3 }}</td>
                </tr>
            </table>
        </div>
        <div class="card-body">
            <form [formGroup]="form">
                <!-- <div class="mb-3">
                    <label for="legalProvisionNumber" class="form-label">Αριθμός Διάταξης:</label>
                    <input
                        ngbAutoFocus
                        type="text"
                        class="form-control"
                        [class.is-invalid]="
                            form.controls.legalProvisionNumber.touched && form.controls.legalProvisionNumber.invalid
                        "
                        id="legalProvisionNumber"
                        formControlName="legalProvisionNumber"
                    />
                </div>
                <div class="mb-3">
                    <label for="legalProvisionText" class="form-label">Κείμενο Διάταξης:</label>
                    <textarea
                        class="form-control"
                        [class.is-invalid]="
                            form.controls.legalProvisionText.touched && form.controls.legalProvisionText.invalid
                        "
                        id="legalProvisionText"
                        formControlName="legalProvisionText"
                    ></textarea>
                </div> -->
                <div class="mb-3 d-flex gap-2">
                    <button type="button" class="btn btn-primary">Επιλογή Νομικής Πράξης</button>
                    <button type="button" class="btn btn-primary" [disabled]="!canAddLegalAct" (click)="addLegalAct()">
                        Νέα Νομική Πράξη
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
